@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* Resetando as cofigurações */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background da tela */

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: rgb(255, 255, 255);
    font-family: 'Nanum Gothic', sans-serif;
}


body {
    background-position: center center;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* background com video */

.videobg {
    position: fixed;
    z-index: -1000;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    background: linear-gradient(rgba(15, 24, 34, 0.8), rgb(10, 17, 29)), url(bgwall/818999.png);
    background-size: cover;

}



/* configuração da tela para posicionamento do card */

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configuração do card */ 
.card {
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 25px;

}

/* Configuração do banner */
.banner {
    width: 100%;
    background-color: #8ED0F2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.banner img {
    object-fit: contain;
    width: 100%;
    height: 200px; 
     
}


/* Configuração do icon profile */

.profile-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -10%;   
}

.card .profile-div img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    
      

}

/* Configuração do nome */

.name-profile {
    text-transform: uppercase;
    padding: 10% 0;
    position: relative;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    cursor: pointer;
}

/* configuração da parte do texto */

.txt {
    position: relative;
    top: 0.5%;
    font-size: 1.0rem;
    letter-spacing: 0.2rem;

}


.txt > h2::first-letter {
    text-transform: uppercase;
}

/* Configuração do hub social */

.social-hub {
    position: relative;
    bottom: -35%;
}

.card .social-hub .items-list {
    display: flex;
    list-style: none;
    gap: 5px;
} 

.card .items-list a {
    color: white;
    padding: 1rem;
    font-size: 3rem;
    transition: 0.5s ease-in-out;
}

.card .items-list a:hover {
    color: rgba(34, 33, 119, 0.644);
}





